.form {
  padding-top: 15px;
  padding-bottom: 50px;
  border-radius: 5px;
  width: 350px;
  margin-top: 45px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-left: 100px;
}

.div {
  width: 70%;
  margin: 50px auto;
}

.btn {
  text-align: center;
}

.form button {
  width: 200px;
  border: 1px solid #0f0f0f;
  border-radius: 50px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background-color: #0f0f0f;
}
