header {
  background-color: #f5f6fa;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
nav img {
  width: 150px;
  object-fit: contain;
}

a {
  color: #0f0f0f;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
}


