* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main {
  display: flex;
}

.left {
  width: 65%;
  margin-top: 120px;
}

.heading {
  width: 15%;
  border-bottom: 1px solid #83153a;
  padding-bottom: 5px;
  border-width: 5px;
  white-space: nowrap;
  margin-left: 100px;
}

.left h1 {
  font-size: 24px;
  font-weight: 400;
}

.right h1 {
  color: #83153a;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 130px;
}

.right {
  width: 35%;
  background-color: #f9c7bb;
  height: 120vh;
  z-index: 0;
}

.right img {
  width: 300px;
  object-fit: contain;
  margin-left: 75px;
  margin-top: 20px;
}

.line {
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
  margin-left: 250px;
  margin-bottom: 70px;
}

.b {
  border-top: 1px solid #a4a4a4;
  width: 220px;
}

.c1 {
  border: 1px solid #a4a4a4;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  white-space: nowrap;
}

.line p {
  margin-top: 30px;
  font-size: 12px;
}
